<div class="container">
        <div class="card ">
            <div class="card-header bg-primary">Tiles</div>
             <div class="card-body o">
<div><label>Name</label>
    <input type="text" class="form-control" name="name" [(ngModel)]='name'>
    {{name}}
</div>
<div><label>Password</label>
        <input type="password" class="form-control">
    </div>
    <div>
            <input type="submit" value="login" class="btn btn-success">
        </div>

             </div> 
            </div>
        </div>   